/*------- declaraciones generales--------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, 
ol{
    list-style: none;
}

a{
    text-decoration: none;
}

/*-------HEADER-----*/
.fondoheader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}


.header > img{
    width: 250px;
    height: 150px;
    display: flex;
    text-align: center;
    align-items: center;
    background-color: #ffffff;
}

.encabezadocentro {
    display: flex;
    text-align: center;
}


.search-container{
    width: 200px;
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #dbec40;
    outline: none;
    background-color: #ffffff;
}
.search{
    display: flex;
    align-items: flex end;
}

.search-icon{
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -20px;
    right: 5px;
    color: #dbec40;
}


@font-face {
    font-family: caviar;
    src: url("../fonts/CaviarDreams.ttf");
}


/*-------NAV------*/
.nav ul li {
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    justify-content: center;
    background-color: #b37ad8;
    box-sizing: border-box;
}

/*-----BODY------*/



body {
    background-color: rgb(253, 251, 255);
    font-family: caviar;
    margin: auto;
    padding: auto;
    grid-template-areas: "grid-contenedor.padre","grid-hijo","footer";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

.grid-contenedor-padre{
    display: grid;
    grid-area:auto ;
    
}

section.grid-hijo {
    display: grid;
    grid-column: 1fr;
    grid-row: 1fr;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin: bottom 100px;
    justify-content: space-around;

}


.parrafo{
    background-color:  #ffffff;
    display: grid;
    grid-template-columns:  25%;
    grid-template-rows: 50px;
    grid-column-gap: 50px;
    margin-left: 30px;
    margin-inline-end: 30px;
    box-sizing: border-box;
}

.novypromo{
    margin: 10px;
    padding-top: 10px;
    margin-top : 0px;
    box-sizing: border-box;
    position: relative;

}

.noveyofer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.formato{
    list-style: none;
    display: flex;
    justify-content:left;
    align-items: flex-start;
    padding: 10px 10px 10px 50px;
    background: #ffffff;
    color: #000;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;

}

.margen{
    margin-bottom: 15px;
    padding-left: 20px;
}

.top{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.form{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20%;
    flex-wrap: wrap;
}

.css-boton {

    background-color: #dbec40;
    padding: 10px;
    color: #444;
    font-family: inherit;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid #999;
    border: transparent;
    border-radius: 2px;
    margin-top: 10px;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
    margin-bottom: .1em;
}

/*------FOOTER------*/
.footer{
    margin: auto;
    padding: auto;
    background-color: #b37ad8;
    display: flex;
    justify-content: space-between;
    align-items:center;  
    box-sizing: border-box;

}



/*---------- media Q---------*/

/*------tablet------*/
@media only screen and (min-width: 527px) and (max-width: 560px) {
    body .grid-contenedor{
        background-color: #ffffff;
    }

    section .form{
        display: flex;
        flex-wrap: wrap;
        padding: 30%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .top{
        display: flex;
        flex-wrap: wrap; 
        justify-content: center;
        margin: 15%;
        }


    .css-boton{
        margin: 10px;
    }
}

/*------desktop 1------*/
@media only screen and (min-width: 561px) and (max-width:1200px){

    body .grid-contenedor{
        background-color:  #ffffff;
    }

    section .form{
        padding: 30%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .top{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    }

    .css-boton{
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}

/*------desktop 2------*/
@media only screen and (min-width: 561px) and (max-width:1200px){

    body .grid-contenedor{
        background-color:  #ffffff;
    }

    section .form{
        padding: 30%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .top{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    }

    .css-boton{
        margin: 15px;
        display: flex;
        flex-wrap: wrap;
    }
}